<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- import CSS -->
    <link rel="stylesheet" href="./css/index.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>CPU调度算法</title>
  </head>

  <body>
    <div class="main-container">
      <el-container>
        <el-header>
          <h2>页面调度算法</h2>
          <h3>页面id（数字） 页面name 到达时间 运行时间</h3>
        </el-header>
        <el-main>
          <div id="app" v-cloak>
            <el-input
              type="textarea"
              :rows="8"
              placeholder="请输入内容"
              v-model="jobText"
            >
            </el-input>
            <div class="radio-type">
              <el-radio v-model="radioType" label="1" border
                >先来先服务算法(FCFS)</el-radio
              >
              <el-radio v-model="radioType" label="2" border
                >短作业优先算法(SJF)</el-radio
              >
              <el-radio v-model="radioType" label="3" border
                >最高响应比优先算法(HRRN)</el-radio
              >
              <div
                style="display: flex; align-items: center; margin-left: 10px"
              >
                <span>平均周转时间：</span>
                <el-tag>{{averageTurnaroundTime.toFixed(3)}}</el-tag>
              </div>
              <div
                style="display: flex; align-items: center; margin-left: 10px"
              >
                <span>平均带权周转时间：</span>
                <el-tag>{{averageWeightedTurnaroundTime.toFixed(3)}}</el-tag>
              </div>
            </div>

            <el-button class="btn" @click="submit" type="primary"
              >运行</el-button
            >

            <div class="wrap">
              <canvas id="canvasAxis" width="1000" height="500"> </canvas>
              <canvas id="canvasContent" width="1000" height="500"> </canvas>
              <div class="cover" ref="cover"></div>
            </div>
            <div class="btn_wrapper">
              <el-button @click="pause" type="primary">暂停</el-button>
              <el-button @click="run" type="primary">继续</el-button>
              <el-button @click="exportTxt" type="primary">导出</el-button>
            </div>

            <el-table :data="tableData" border style="width: 100%" height="500">
              <el-table-column prop="time" label="时钟"> </el-table-column>
              <el-table-column prop="name" label="作业名"> </el-table-column>
              <el-table-column prop="arrivalTime" label="到达时间">
              </el-table-column>
              <el-table-column prop="burstTime" label="服务时间">
              </el-table-column>
              <el-table-column prop="cpuTime" label="已服务"> </el-table-column>
              <el-table-column prop="remainingTime" label="剩余服务">
              </el-table-column>

              <el-table-column class="tag" align="center" label="状态描述">
                <template slot-scope="scope">
                  <el-tag
                    :type="getTagType(scope.row.state)"
                    v-text="scope.row.state"
                  ></el-tag>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </el-main>
      </el-container>
    </div>

    <!-- import Vue before Element -->
    <script src="./js/vue.js"></script>
    <!-- import JavaScript -->
    <script src="./js/index.js"></script>
    <!-- 画坐标图 -->
    <script src="./js/draw.js"></script>

    <script>
      const debounce = function (func, delay) {
        let timerId;

        return function (...args) {
          if (timerId) {
            this.$message({
              message: "请勿重复点击",
              type: "error",
            });
            return;
          }

          clearTimeout(timerId);

          timerId = setTimeout(() => {
            func.apply(this, args);
          }, delay);
        };
      };

      const job = {
        id: 0,
        name: "", //进程标识名
        arrivalTime: 0, // 到达时间
        burstTime: 0, // 服务时间
        cpuTime: 0, // 进程已占用CPU时间
        remainingTime: 0, // 还需占用的CPU时间，当进程运行完毕时，ALLTIME变为0
        state: "", // 进程状态
        responseRatio: 0,
      };

      new Vue({
        el: "#app",
        data: {
          jobText:
            "1 A 0 3\n2 B 2 6\n3 C 4 4\n4 D 6 5\n5 E 8 2\n6 F 10 3\n7 G 12 2",
          allJobs: [], // 所有进程
          totalTime: 0, //总服务时间
          tableData: [],
          radioType: "3",
          allJobs: [],
          readyQueue: [],
          jobOrderList: [],
          currentTime: 0,
          jobItem: [],
          txtData: [],
        },
        watch: {
          radioType() {
            this.$refs.cover.style.animationName = "";
          },
        },
        computed: {
          averageTurnaroundTime() {
            this.calculateTurnaroundTimes(this.jobOrderList);
            return (
              this.jobOrderList.reduce(
                (totalTime, job) => (totalTime += job.turnaroundTime),
                0
              ) / this.jobOrderList.length
            );
          },
          averageWeightedTurnaroundTime() {
            this.calculateweightedTurnaroundTimes(this.jobOrderList);
            return (
              this.jobOrderList.reduce(
                (totalTime, job) => (totalTime += job.weightedTurnaroundTime),
                0
              ) / this.jobOrderList.length
            );
          },
        },
        methods: {
          calculateWaitingTimes(arr) {
            for (const job of arr) {
              job.waitingTime = this.currentTime - job.arrivalTime;
            }
          },
          calculateTurnaroundTimes(arr) {
            for (const job of arr) {
              job.turnaroundTime = job.waitingTime + job.burstTime;
            }
          },
          calculateweightedTurnaroundTimes(arr) {
            this.calculateTurnaroundTimes(arr);
            for (const job of arr) {
              job.weightedTurnaroundTime = job.turnaroundTime / job.burstTime;
            }
          },
          calculateResponseRatios(arr) {
            for (const job of arr) {
              job.responseRatio = (
                (job.waitingTime + job.burstTime) /
                job.burstTime
              ).toFixed(3);
            }
          },

          //   堆排序
          heapify(arr, n, i) {
            let largest = i;
            const left = 2 * i + 1;
            const right = 2 * i + 2;

            if (
              left < n &&
              arr[left].responseRatio > arr[largest].responseRatio
            ) {
              largest = left;
            }

            if (
              right < n &&
              arr[right].responseRatio > arr[largest].responseRatio
            ) {
              largest = right;
            }

            if (largest !== i) {
              [arr[i], arr[largest]] = [arr[largest], arr[i]];
              this.heapify(arr, n, largest);
            }
          },

          buildMaxHeap(arr) {
            const n = arr.length;
            for (let i = Math.floor(n / 2) - 1; i >= 0; i--) {
              this.heapify(arr, n, i);
            }
          },

          /**
           * @description 堆排序
           **/
          heapSortByResponseRatio(arr) {
            const n = arr.length;

            this.buildMaxHeap(arr);

            for (let i = n - 1; i >= 0; i--) {
              [arr[0], arr[i]] = [arr[i], arr[0]];
              this.heapify(arr, i, 0);
            }
          },

          getTagType(state) {
            let type = "";
            switch (state) {
              case "到达":
                type = "success";
                break;
              case "服务":
                type = "warning";
                break;
              case "结束":
                type = "danger";
                break;
            }
            return type;
          },

          // 获取所有进程，文本框内的文本转对象。
          getallJobs() {
            // 换行符分割换行，也就是进程，一个成员(一行)为一个进程的信息。
            const jobLine = this.jobText.split("\n");

            // 局部所有进程变量
            let allJobs = [];
            let totalTime = 0; // 所有进程加起来需要服务的时间

            jobLine.forEach((item) => {
              // 遍历分割进程,写入进程对象
              this.jobItem = item.split(" ");
              let m_job = Object.assign({}, job); // ES6的对象拷贝
              [m_job.id, m_job.name, m_job.arrivalTime, m_job.burstTime] =
                this.jobItem; //解构赋值，等同于下

              m_job.id = Number(m_job.id);
              m_job.arrivalTime = Number(m_job.arrivalTime);
              m_job.burstTime = Number(m_job.burstTime);
              m_job.remainingTime = Number(m_job.remainingTime);
              m_job.cpuTime = Number(m_job.cpuTime);

              totalTime += m_job.burstTime;
              allJobs.push(m_job);
            });
            allJobs.sort((a, b) => a.arrivalTime - b.arrivalTime);
            return [allJobs, totalTime];
          },
          sortBy(fn) {
            for (let i = 0; i <= this.totalTime; i++) {
              let data = { time: i };
              for (const item of this.allJobs) {
                // 判断是否到达
                if (item.arrivalTime === i) {
                  item.state = "到达";
                  item.remainingTime = item.burstTime;
                  data = { ...data, ...item };
                  this.tableData.push(data);
                  this.readyQueue.push(data);
                }
              }
              if (this.readyQueue.length > 0) {
                this.readyQueue[0].cpuTime++;
                this.readyQueue[0].remainingTime--;
                data = { ...data, ...this.readyQueue[0] };
                data.state =
                  this.readyQueue[0].remainingTime === 0 ? "结束" : "服务";
                if (this.readyQueue[0].remainingTime === 0) {
                  this.currentTime = i;
                  this.calculateWaitingTimes(this.readyQueue);
                  this.jobOrderList = [
                    ...this.jobOrderList,
                    ...this.readyQueue.splice(0, 1),
                  ];
                  fn();
                }
                this.tableData.push(data);
              }
            }
          },
          /**
           * @description 先来先服务算法
           **/
          FCFS() {
            this.sortBy(() => this.readyQueue.sort((a, b) => a.time - b.time));
          },

          /**
           * @description 抢占式最短作业优先算法
           **/
          SJF() {
            this.sortBy(() =>
              this.readyQueue.sort((a, b) => a.burstTime - b.burstTime)
            );
          },

          /**
           * @description 高响应比优先算法
           **/
          HRRN() {
            this.sortBy(() => this.heapSortByResponseRatio(this.readyQueue));
          },
          debouncedSubmit() {
            debounce(() => {
              [this.allJobs, this.totalTime] = this.getallJobs();

              if (this.radioType == "1") {
                this.FCFS();
              } else if (this.radioType == "2") {
                this.SJF();
              } else if (this.radioType == "3") {
                this.HRRN();
              }
              // 表格数据 , 进程 ,总服务次数
              draw(this.tableData, this.allJobs, this.totalTime);
              this.$refs.cover.style.animationName = "move";
              this.$refs.cover.style.animationDuration = "10s";
              this.$refs.cover.style.animationFillMode = "forwards";
              this.$refs.cover.style.animationTimingFunction = "linear";
            }, 2000);
          },
          submit() {
            this.tableData = [];
            this.jobOrderList = [];
            this.$refs.cover.style.animationName = "";
            console.log(this.debouncedSubmit)
            this.debouncedSubmit();
          },
          pause() {
            this.$refs.cover.style.animationPlaystate = "paused";
          },
          run() {
            this.$refs.cover.style.animationPlaystate = "running";
          },
          exportTxt() {
            const name = "data.txt"; //文件名
            const urlObject = window.URL || window.webkitURL || window;
            const export_blob = new Blob([]);
            const save_link = document.createElement("a");
            save_link.href = urlObject.createObjectURL(export_blob);
            save_link.download = name;
            save_link.click();
          },
        },
      });
    </script>
  </body>
</html>
